<footer style="background-color: #41729F">
    <div class="container py-5">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4 fs-5 fw-bold">Адреса</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
                        <i class="fa-solid fa-location-dot" style="color: #D4D4D4;"></i>&nbsp;&nbsp;&nbsp;<span style="color: #D4D4D4;">  ул. Руѓер Бошковиќ 16, Пoштенски Фах 393,
                        1000, Скопје, Република Северна Македонија</span></a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
                        <i class="fa-solid fa-phone" style="color: #D4D4D4;"></i>&nbsp;&nbsp;&nbsp;<span style="color: #D4D4D4;">  +389 70/302-440, Студентски прашања</span></a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
                        <i class="fa-solid fa-envelope" style="color: #D4D4D4;">&nbsp;&nbsp;&nbsp;</i><span style="color: #D4D4D4;">  contact@finki.ukim.mk</span></a></li>
                    <li class="nav-item mb-2 d-flex">
                        <a href="#" class="nav-link p-0 text-muted me-3"><i class="fa-brands fa-twitter" style="color: #D4D4D4;"></i></a>
                        <a href="#" class="nav-link p-0 text-muted me-3"><i class="fa-brands fa-facebook" style="color: #D4D4D4;"></i></a>
                        <a href="#" class="nav-link p-0 text-muted"><i class="fa-brands fa-youtube" style="color: #D4D4D4;"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4 fs-5 fw-bold">Адреса</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
                        <i class="fa-solid fa-location-dot" style="color: #D4D4D4;"></i>&nbsp;&nbsp;&nbsp;<span style="color: #D4D4D4;">  ул. Руѓер Бошковиќ 16, Пoштенски Фах 393,
                        1000, Скопје, Република Северна Македонија</span></a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
                        <i class="fa-solid fa-phone" style="color: #D4D4D4;"></i>&nbsp;&nbsp;&nbsp;<span style="color: #D4D4D4;">  +389 70/302-440, Студентски прашања</span></a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
                        <i class="fa-solid fa-envelope" style="color: #D4D4D4;">&nbsp;&nbsp;&nbsp;</i><span style="color: #D4D4D4;">  contact@finki.ukim.mk</span></a></li>
                    <li class="nav-item mb-2 d-flex">
                        <a href="#" class="nav-link p-0 text-muted me-3"><i class="fa-brands fa-twitter" style="color: #D4D4D4;"></i></a>
                        <a href="#" class="nav-link p-0 text-muted me-3"><i class="fa-brands fa-facebook" style="color: #D4D4D4;"></i></a>
                        <a href="#" class="nav-link p-0 text-muted"><i class="fa-brands fa-youtube" style="color: #D4D4D4;"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4 fs-5 fw-bold">Адреса</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
                        <i class="fa-solid fa-location-dot" style="color: #D4D4D4;"></i>&nbsp;&nbsp;&nbsp;<span style="color: #D4D4D4;">  ул. Руѓер Бошковиќ 16, Пoштенски Фах 393,
                        1000, Скопје, Република Северна Македонија</span></a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
                        <i class="fa-solid fa-phone" style="color: #D4D4D4;"></i>&nbsp;&nbsp;&nbsp;<span style="color: #D4D4D4;">  +389 70/302-440, Студентски прашања</span></a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
                        <i class="fa-solid fa-envelope" style="color: #D4D4D4;">&nbsp;&nbsp;&nbsp;</i><span style="color: #D4D4D4;">  contact@finki.ukim.mk</span></a></li>
                    <li class="nav-item mb-2 d-flex">
                        <a href="#" class="nav-link p-0 text-muted me-3"><i class="fa-brands fa-twitter" style="color: #D4D4D4;"></i></a>
                        <a href="#" class="nav-link p-0 text-muted me-3"><i class="fa-brands fa-facebook" style="color: #D4D4D4;"></i></a>
                        <a href="#" class="nav-link p-0 text-muted"><i class="fa-brands fa-youtube" style="color: #D4D4D4;"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4 fs-5 fw-bold">Адреса</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
                        <i class="fa-solid fa-location-dot" style="color: #D4D4D4;"></i>&nbsp;&nbsp;&nbsp;<span style="color: #D4D4D4;">  ул. Руѓер Бошковиќ 16, Пoштенски Фах 393,
                        1000, Скопје, Република Северна Македонија</span></a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
                        <i class="fa-solid fa-phone" style="color: #D4D4D4;"></i>&nbsp;&nbsp;&nbsp;<span style="color: #D4D4D4;">  +389 70/302-440, Студентски прашања</span></a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">
                        <i class="fa-solid fa-envelope" style="color: #D4D4D4;">&nbsp;&nbsp;&nbsp;</i><span style="color: #D4D4D4;">  contact@finki.ukim.mk</span></a></li>
                    <li class="nav-item mb-2 d-flex">
                        <a href="#" class="nav-link p-0 text-muted me-3"><i class="fa-brands fa-twitter" style="color: #D4D4D4;"></i></a>
                        <a href="#" class="nav-link p-0 text-muted me-3"><i class="fa-brands fa-facebook" style="color: #D4D4D4;"></i></a>
                        <a href="#" class="nav-link p-0 text-muted"><i class="fa-brands fa-youtube" style="color: #D4D4D4;"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="d-flex justify-content-between pt-4 mt-3 border-top">
            <a href="/nns-meetings"><img src="/images/Finki-logo.png" height="80" class="d-inline-block align-text-top" alt="Logo"></a>
        </div>
    </div>
</footer>