<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add topics page</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<h1 th:block="${description}"></h1>

<form method="post" action="/topics">
    <table>
        <tr>
            <th>SerialNumber</th>
            <th>Category name</th>
            <th>Subcategory name</th>
            <th>Description</th>
            <th>Is it accepted</th>
            <th>Discussion</th>
            <th>Student name</th>
            <th>Student surname</th>
            <th>Professor</th>
            <th>Committee/Authors</th>
        </tr>
        <tr>
            <td>
                <input type="text" name="serialNumber" th:value="${topic?.serialNumber}">
            </td>
            <td>
                <select name="categoryName">
                    <option th:each="category : ${topicCategories}" th:value="${category}"
                            th:text="${category}"
                            th:selected="${topic?.categoryName == category}"></option>
                </select>
            </td>
            <td>
                <input type="text" name="subCategoryName" th:value="${topic?.subCategoryName}">
            </td>
            <td>
                <input type="text" name="description" th:value="${topic?.description}">
            </td>
            <td>
                <select name="isAccepted">
                    <option value="0" th:selected="${topic?.isAccepted == false}">False</option>
                    <option value="1" th:selected="${topic?.isAccepted}">True</option>
                </select>
            </td>
            <td>
                <input type="text" name="discussion" th:value="${topic?.discussion}">
            </td>
            <td>
                <input type="text" name="studentName" th:value="${topic?.student?.name}">
            </td>
            <td>
                <input type="text" name="studentSurname" th:value="${topic?.student?.surname}">
            </td>
            <td>
                <select name="professorId">
                    <option th:each="professor : ${professors}" th:value="${professor.id}"
                            th:text="${professor.name + ' ' + professor.surname}"
                            th:selected="${topic?.professor?.id == professor.id}"></option>
                </select>
            </td>
            <td>
                <select name="professorsIds" multiple="multiple" size="5">
                    <option th:each="professor : ${professors}" th:value="${professor.id}"
                            th:text="${professor.name + ' ' + professor.surname}"
                            th:selected="${topic?.professors?.contains(professor)}"></option>
                </select>
            </td>
            <td>
                <input type="number" name="nnsMeetingId" th:value="${nnsMeeting.id}" hidden="hidden">
                <input type="number" name="id" th:value="${topic?.id}" hidden="hidden">
                <!-- th:field="*{id}" th:value="${param.id}" -->
            </td>
            <td>
                <button type="submit">Add topic</button>
            </td>
        </tr>
    </table>
</form>
<a href="/nns-meetings">[Back]</a>
</body>
</html>