<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <h1>E - Dnevnik</h1>
    </div>
    <div>
        <a href="/nns-meetings">[NNS Meetings] </a>
        <a href="/professors">[Professors] </a>
        <a href="/students">[Students] </a>
    </div>
    <br>
    <div>
        <form action="/home" method="post">
            <select name="nnsMeetingId">
                <option value="0">all</option>
                <option th:each="meeting : ${nnsMeetings}" th:value="${meeting.id}" th:text="${meeting.date}"></option>
            </select>
            <select name="categoryName">
                <option value="all">all</option>
                <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
            </select>
            <select name="studentNameAndSurname">
                <option>all</option>
                <option th:each="student : ${students}" th:value="${student.name + ' ' + student.surname}" th:text="${student.name + ' ' + student.surname}"></option>
            </select>
            <select name="professorNameAndSurname">
                <option>all</option>
                <option th:each="professor : ${professors}" th:if="${professor.name != '/'}" th:value="${professor.name + ' ' + professor.surname}" th:text="${professor.name + ' ' + professor.surname}"></option>
            </select>
            <button>Filter</button>
        </form>
    </div>
    <br>
    <div>
        <table>
            <tr>
                <th>NNS Meeting date</th>
                <th>Category name</th>
                <th>Student name and surname</th>
                <th>Professor name and surname</th>
                <th>Description for topic</th>
                <th></th>
            </tr>
            <tr th:each="topic : ${topics}">
                <td th:text="${topic.getNnsMeeting().getDate()}"></td>
                <td th:text="${topic.getCategoryName()}"></td>
                <td th:text="${topic.getStudent().getName() + ' ' + topic.getStudent().getSurname()}"></td>
                <td th:text="${topic.getProfessor().getName() + ' ' + topic.getProfessor().getSurname()}"></td>
                <td th:text="${topic.getDescription()}"></td>
                <td><a th:href="@{'/nns-meetings/{id}/topics-list' (id=${topic.getNnsMeeting().getId()})}">take me to this nns meeting</a></td>
            </tr>
        </table>
    </div>
</body>
</html>