<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topics List for selected NNS Meeting</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Topics List for selected NNS Meeting on date <span th:text="${nnsMeeting.date}"></span></h1>
<table>
    <tr>
        <th>#</th>
        <th>Category name</th>
        <th>Subcategory name</th>
        <th>Description</th>
        <th>SerialNumber</th>
        <th>Is it accepted</th>
        <th>Discussion</th>
        <th>NNSMeeting date</th>
        <th>Student name</th>
        <th>Student surname</th>
        <th>Professor name</th>
        <th>Professor surname</th>
        <th>Committee/Authors</th>
    </tr>
    <tr th:each="topic, iterator : ${topics}">
        <td th:text="${iterator.index+1 + '. '}"></td>
        <td>
            <input type="text" name="categoryName" th:value="${topic.categoryName}" disabled>
        </td>
        <td>
            <input type="text" name="subCategoryName" th:value="${topic.subCategoryName}" disabled>
        </td>
        <td>
            <input type="text" name="description" th:value="${topic.description}" disabled>
        </td>
        <td>
            <input type="number" name="serialNumber" th:value="${topic.serialNumber}" disabled>
        </td>
        <td>
            <input type="text" name="isAccepted" th:value="${topic.isAccepted}" disabled>
        </td>
        <td>
            <input type="text" name="discussion" th:value="${topic.discussion}" disabled>
        </td>
        <td>
            <input type="text" name="nnsMeetingDate" th:value="${topic.nnsMeeting.date}" disabled>
        </td>
        <td>
            <input type="text" name="studentName" th:value="${topic.student?.name}" disabled>
        </td>
        <td>
            <input type="text" name="studentSurname" th:value="${topic.student?.surname}" disabled>
        </td>
        <td>
            <input type="text" name="professorName" th:value="${topic.professor?.name}" disabled>
        </td>
        <td>
            <input type="text" name="professorSurname" th:value="${topic.professor?.surname}" disabled>
        </td>
        <td>
            <select multiple size="3" name="=professors">
                <option th:each="professor, iterator : ${topic.professors}" th:value="${professor.id}"
                        th:text="${iterator.index+1 + '. ' + professor.name + ' ' + professor.surname + ' ' + professor.professorRole}"></option>
            </select>
            <!--        <ul>-->
            <!--          <li th:each="professor : ${topic.professors}" th:text="${professor.name + ' ' + professor.surname + ' ' + professor.professorRole}"></li>-->
            <!--        </ul>-->
        </td>
        <td>
            <input type="text" name="nnsMeetingId" th:value="${topic.nnsMeeting.id}" hidden="hidden">
        </td>
    </tr>
</table>
<a href="/nns-meetings">[Back]</a>
</body>
</html>