<th:block>
    <div class="container my-4 py-4">
        <div class="row align-items-center">
            <div class="col-10">
                <h1 class="fs-2 my-4">Професори</h1>
                <p class="text-muted m-0">Изберете професор за кој сакате да ги разгледате записите од седниците</p>
            </div>
            <div class="col-2">
                <a href="/professors/add" class="btn btn-outline-danger w-100">Додади нов професор</a>
            </div>
        </div>
        <div class="my-4 py-4">
            <form action="/professors" method="post">
                <label for="filterByProfessor" class="mb-2">Изберете професор за полесно пребарување во табелата со професори</label>
                <select name="filterByProfessor" class="form-select mb-3" id="filterByProfessor">
                    <option th:value="-1">сите</option>
                    <option th:each="professor : ${professorsInFilter}"
                            th:value="${professor.id}"
                            th:text="${professor.name + ' ' + professor.surname}"
                            th:selected="${professor.id == chosenProf?.id}"></option>
                    </option>
                </select>
                <button class="btn btn-outline-primary">Филтрирај</button>
            </form>
            <table class="table table-hover my-4">
                <tr>
                    <th class="col-1">#</th>
                    <th class="col-3">Име</th>
                    <th class="col-3">Презиме</th>
                    <th class="col-3">Титула</th>
                    <th class="col-1"></th>
                    <th class="col-1 border-0"></th>
                </tr>
                <tr th:if="${pagedData == null}" th:each="professor, iterator : ${professorsToBeShown}">
                    <td class="align-middle py-3" th:text="${iterator.index+1}"></td>
                    <td class="align-middle py-3" th:text="${professor.name}"></td>
                    <td class="align-middle py-3" th:text="${professor.surname}"></td>
                    <td class="align-middle py-3" th:text="${#strings.capitalizeWords(#strings.replace(#strings.toLowerCase(professor.professorRole), '_', ' '))}"></td>
                    <td class="align-middle py-3"><a th:href="@{'/professors/{id}/topics-list' (id=${professor.id})}" class="btn btn-outline-primary">Избери</a></td>
                    <td class="align-middle border-0 py-3">
                        <div class="d-flex justify-content-end">
                            <a th:href="@{'/professors/{id}/edit' (id=${professor.id})}" class="me-4"><i class="fa-regular fa-pen-to-square text-muted align-top"></i></a>
                            <a th:href="@{'/professors/{id}/delete' (id=${professor.id})}"><i class="fa-solid fa-trash text-danger align-top"></i></a>
                        </div>
                    </td>
                </tr>
                <tr th:each="professor, iterator : ${pagedData?.content}">
                    <td class="align-middle py-3" th:text="${iterator.index+1}"></td>
                    <td class="align-middle py-3" th:text="${professor.name}"></td>
                    <td class="align-middle py-3" th:text="${professor.surname}"></td>
                    <td class="align-middle py-3" th:text="${#strings.capitalizeWords(#strings.replace(#strings.toLowerCase(professor.professorRole), '_', ' '))}"></td>
                    <td class="align-middle py-3"><a th:href="@{'/professors/{id}/topics-list' (id=${professor.id})}" class="btn btn-outline-primary">Избери</a></td>
                    <td class="align-middle border-0 py-3">
                        <div class="d-flex justify-content-end">
                            <a th:href="@{'/professors/{id}/edit' (id=${professor.id})}" class="me-4"><i class="fa-regular fa-pen-to-square text-muted align-top"></i></a>
                            <a th:href="@{'/professors/{id}/delete' (id=${professor.id})}"><i class="fa-solid fa-trash text-danger align-top"></i></a>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="d-flex justify-content-center mt-4">
                <ul th:if="${pagedData != null}" class="pagination">
                    <li th:class="${pagedData.number == 0} ? 'disabled' : ''">
                        <a th:href="@{/professors(page=0)}" aria-label="First">
                            <span aria-hidden="true" class="mx-2">Прв</span>
                        </a>
                    </li>
                    <li th:class="${pagedData.number < 0} ? 'disabled' : ''">
                        <span th:if="${pagedData.number > 0}">
                            <a th:href="@{/professors(page=${pagedData.number - 1})}" aria-label="Previous">
                                <span aria-hidden="true" class="mx-2">Претходен</span>
                            </a>
                        </span>
                        <span th:if="${pagedData.number == 0}">
                            <span aria-hidden="true" disabled class="mx-2">Претходен</span>
                        </span>
                    </li>
                    <li th:class="${pagedData.number == pagedData.totalPages - 1} ? 'disabled' : ''">
                        <span th:if="${pagedData.number != pagedData.totalPages - 1}">
                            <a th:href="@{/professors(page=${pagedData.number + 1})}" aria-label="Next">
                                <span aria-hidden="true" class="mx-2">Нареден</span>
                            </a>
                        </span>
                        <span th:if="${pagedData.number == pagedData.totalPages - 1}">
                            <span aria-hidden="true" disabled class="mx-2">Нареден</span>
                        </span>
                    </li>
                    <li th:class="${pagedData.number == pagedData.totalPages - 1} ? 'disabled' : ''">
                        <a th:href="@{/professors(page=${pagedData.totalPages - 1})}" aria-label="Last">
                            <span aria-hidden="true" class="mx-2">Последен</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div th:if="${showTopics}" class="py-4">
                <div class="border-bottom">
                    <h2 class="fs-4 m-0 py-4">Записи во кои е вклучен избраниот професор</h2>
                    <p class="text-muted m-0">Записите се подредени според датумот на седницата на која припаѓаат</p>
                    <form autocomplete="off" class="my-4 py-4" th:action="@{'/professors/{id}/topics-list' (id=${chosenProf.id})}" method="post">
                        <p class="mb-4">Изберете конкретни карактеристики според кои сакате да ги филтрирате записите</p>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label for="categoryName" class="mb-2">Категорија</label>
                                <select name="categoryName" id="categoryName" class="form-select">
                                    <option th:value="Сите">Сите</option>
                                    <option th:each="category : ${topicCategories}" th:value="${category}"
                                            th:text="${#strings.capitalizeWords(#strings.replace(#strings.toLowerCase(category), '_', ' '))}"
                                            th:selected="${category == selectedCat}">
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="subCategoryName" class="mb-2">Подкатегорија</label>
                                <input th:value="${selectedSubCat != null ? selectedSubCat : ''}" type="text" name="subCategoryName" id="subCategoryName" class="form-control">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="studentFullNameId" class="mb-2">Студент</label>
                                <input th:value="${selectedStudent != null ? selectedStudent : ''}" type="text" name="studentFullNameId" id="studentFullNameId" class="form-control">
                            </div>
                            <div class="mt-3 pt-3 col-6">
                                <button class="btn btn-outline-primary w-100">Филтрирај</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div th:each="topic : ${topics}" class="py-4 border-bottom">
                    <div class="mb-4 pt-2 d-flex align-items-center">
                        <h3 class="fs-5 m-0 flex-grow-1">Седница одржана на датум <span th:text="${topic.nnsMeeting.date}"></span></h3>
                        <a th:href="@{'/nns-meetings/{id}/topics-list' (id=${topic.nnsMeeting.id})}" class="link-underline-opacity-0 link-primary">Разгледај повеќе детали за седницата</a>
                    </div>
                    <div>
                        <p class="text-muted m-0">Конкретниот запис има сериски број: <span th:text="${topic.serialNumber}"></span></p>
                        <p class="text-muted mb-4">Професорот е вклучен во категоријата: <span th:text="${#strings.capitalizeWords(#strings.replace(#strings.toLowerCase(topic.categoryName), '_', ' '))}"></span></p>
                        <div>
                            <p class="m-0 mb-1">Опис</p>
                            <p th:text="${topic.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>