<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${description}"></title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<h1 th:text="${description}"></h1>
<form method="post" action="/professors">
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Role/Title</th>
        </tr>
        <tr>
            <td>
                <input type="text" name="name" th:value="${professor?.name}">
            </td>
            <td>
                <input type="text" name="surname" th:value="${professor?.surname}">
            </td>
            <td>
                <select name="professorRole">
                    <option th:each="professorRole : ${professorRoles}"
                            th:value="${professorRole}"
                            th:text="${professorRole}"
                            th:selected="${professorRole == professor?.getProfessorRole()}"></option>
                </select>
            </td>
            <td>
                <input type="number" name="id" th:value="${professor?.id}" hidden="hidden">
            </td>
            <td>
                <button type="submit" th:text="${description}"></button>
            </td>
        </tr>
    </table>
</form>
<a href="/professors">[Back]</a>
</body>
</html>