<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit a professor</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
  <h1>Edit info about selected professor</h1>
  <form method="post" th:action="@{'/professors/{id}' (id=${professor.id})}">
    <table>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Role/Title</th>
      </tr>
      <tr>
        <td>
          <input type="text" name="name" th:value="${professor.name}">
        </td>
        <td>
          <input type="text" name="surname" th:value="${professor.surname}">
        </td>
        <td>
          <select name="professorRole">
            <option th:each="professorRole : ${professorRoles}" th:value="${professorRole}" th:text="${professorRole}" th:selected="${professorRole == selectedProfessorRole}"></option>
          </select>
        </td>
        <td>
          <button type="submit">Add professor</button>
        </td>
      </tr>
    </table>
  </form>
  <a href="/professors">[Back]</a>

</body>
</html>