<th:block>
    <div class="container my-4 py-4">
        <h1 th:text="${title}" class="fs-2 pt-4"></h1>
        <p th:if="${professor == null}" class="text-muted">Додадете нов професор брзо и едноставно</p>
        <p th:unless="${professor == null}" class="text-muted">Направете промени на избраниот професор</p>
        <div class="my-4 py-4">
            <form method="post" action="/professors/make-changes">
                <div class="mb-4">
                    <label for="name" class="mb-2">Име</label>
                    <input th:value="${professor?.name}" type="text" name="name" id="name" class="form-control">
                </div>
                <div class="mb-4">
                    <label for="surname" class="mb-2">Презиме</label>
                    <input th:value="${professor?.surname}" type="text" name="surname" id="surname" class="form-control">
                </div>
                <div class="mb-4">
                    <label for="professorRole" class="mb-2">Титула</label>
                    <select name="professorRole" id="professorRole" class="form-select">
                        <option th:each="professorRole : ${professorRoles}"
                                th:value="${professorRole}"
                                th:text="${#strings.capitalizeWords(#strings.replace(#strings.toLowerCase(professorRole), '_', ' '))}"
                                th:selected="${professorRole == professor?.getProfessorRole()}"></option>
                    </select>
                </div>
                <input type="number" name="id" th:value="${professor?.id}" hidden="hidden">
                <button th:if="${professor == null}" class="btn btn-outline-primary my-4 w-25">Додади</button>
                <button th:unless="${professor == null}" class="btn btn-outline-primary my-4 w-25">Промени</button>
            </form>
        </div>
    </div>
</th:block>