<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a student</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Add a new student</h1>
    <form method="post" action="/students">
        <table>
            <tr>
                <th>Name</th>
                <th>Surname</th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="name">
                </td>
                <td>
                    <input type="text" name="surname">
                </td>
                <td>
                    <button type="submit">Add student</button>
                </td>
            </tr>
        </table>
    </form>
    <a href="/students">[Back]</a>
</body>
</html>