<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit a student</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Edit info about selected student</h1>
    <form method="post" th:action="@{'/students/{id}' (id=${student.id})}">
        <table>
            <tr>
                <th>Name</th>
                <th>Surname</th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="name" th:value="${student.name}">
                </td>
                <td>
                    <input type="text" name="surname" th:value="${student.surname}">
                </td>
                <td>
                    <button type="submit">Edit student</button>
                </td>
            </tr>
        </table>
    </form>
    <a href="/students">[Back]</a>
</body>
</html>