<th:body>
    <div class="container my-4 py-4">
        <h1 th:text="${title}" class="fs-2 pt-4"></h1>
        <p th:if="${student == null}" class="text-muted">Додадете нов студент брзо и едноставно</p>
        <p th:unless="${student == null}" class="text-muted">Направете промени на избраниот студент</p>
        <div class="my-4 py-4">
            <form method="post" action="/students/make-changes">
                <div class="mb-4">
                    <label for="name" class="mb-2">Име</label>
                    <input th:value="${student?.name}" type="text" name="name" id="name" class="form-control">
                </div>
                <div class="mb-4">
                    <label for="surname" class="mb-2">Презиме</label>
                    <input th:value="${student?.surname}" type="text" name="surname" id="surname" class="form-control">
                </div>
                <div class="mb-4">
                    <label for="idNew" class="mb-2">Индекс</label>
                    <input th:value="${student?.id}" type="text" name="idNew" id="idNew" class="form-control">
                </div>
                <input type="number" name="idOld" th:value="${student?.id}" hidden="hidden">
                <button th:if="${student == null}" class="btn btn-outline-primary my-4 w-25">Додади</button>
                <button th:unless="${student == null}" class="btn btn-outline-primary my-4 w-25">Промени</button>
            </form>
        </div>
    </div>
</th:body>